@tailwind base;
@tailwind components;
@tailwind utilities;

/* define a var called marquee-duration please*/
:root {
  --marquee-duration: 5s;
  --marquee-translation: -100%;
  --marquee-status: running;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

.blob {
  translate: -50% -50%;
  animation: rotate 15s linear infinite forwards;
}

@keyframes translate {
  from {
    translate: 0 0;
  }

  to {
    translate: var(--marquee-translation) 0;
  }
}

.marquee {
  animation: translate var(--marquee-duration, 25s) linear infinite forwards;
  animation-play-state: var(--marquee-status);
}
